---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.tsx";
import { graniteProducts } from "../lib/constants";
---

<Layout title="Granito - Mármoles Deluxe">
  <main class="py-20 pt-24">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold text-center mb-12">Granito</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          graniteProducts.map((product) => (
            <ProductCard
              name={product.name}
              description={product.description}
              images={[product.image]}
              features={product.features}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
