---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.tsx";
import { neolithStones, alteaStones, dektonStones, silestoneStones } from "../data/piedrasData";

interface Stone {
  name: string;
  image: string;
  design: string;
  features?: string[];
}

// Estructura para manejar todas las categorías de piedras
const stoneCategories = [
  { title: "Neolith", stones: neolithStones },
  { title: "Altea", stones: alteaStones },
  { title: "Dekton", stones: dektonStones },
  { title: "Silestone", stones: silestoneStones }
];
---

<Layout title="Piedra Sinterizada - Mármoles Deluxe">
  <main class="py-20 pt-24">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold text-center mb-12">
        Piedra Sinterizada
      </h1>
      
      {
        stoneCategories.map((category, index) => (
          <div>
            <h2 class="text-3xl font-bold text-center mb-8">{category.title}</h2>
            <div class={`grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ${index < stoneCategories.length - 1 ? 'mb-16' : ''}`}>
              {
                category.stones.map((stone: Stone) => (
                  <ProductCard client:load
                    name={stone.name}
                    description="Piedra sinterizada de alta calidad"
                    images={[stone.image, stone.design]}
                    features={stone.features}
                  />
                ))
              }
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
