---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.tsx";
import { quarstone } from "../components/Quarstone.astro";
import PageLoader from "../components/PageLoader.tsx";

interface Stone {
  name: string;
  image: string;
  design: string;
}
---

<Layout title="Quartzstone - Mármoles Deluxe">
  <PageLoader client:load isLoading={true} />
  <main class="py-20 pt-24">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold text-center mb-12">
        Quartzstone
      </h1>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-8 mb-16"
      >
        {
          quarstone.map((stone: Stone) => (
            <ProductCard
              client:load
              name={stone.name}
              description="Cuarzo de alta calidad y resistencia"
              images={[stone.image, stone.design]}
              features={[
                "Resistente a rayones",
                "No poroso",
                "Fácil mantenimiento",
                "Amplia gama de colores"
              ]}
              category="Quartzstone"
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
